@import '/src/styles/imports.scss';

$current: $mobile;
.permission-changer-wrapper {

}

@media (min-width: $media-tablet) {
  $current: $tablet;
  .permission-changer-wrapper {

  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .permission-changer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: vw_size(10, $current) 0;

    .user-permission-wrapper {
      display: flex;
      align-items: center;
      margin-inline-end: vw_size(10, $current);
      padding: vw_size(5, $current) 0;
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .permission-changer-wrapper {
    padding: vw_size(10, $current) 0;

    .user-permission-wrapper {
      margin-inline-end: vw_size(10, $current);
      padding: vw_size(5, $current) 0;
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;
  .permission-changer-wrapper {
    padding: vw_size(10, $current) 0;

    .user-permission-wrapper {
      margin-inline-end: vw_size(10, $current);
      padding: vw_size(5, $current) 0;
    }
  }
}
