@import '/src/styles/imports.scss';

$current: $mobile;
.action-button-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: vw_size(10, $current) 0;
  padding-inline: vw_size(10, $current);

  .action-button-image-wrapper {
    width: vw_size(18, $current);
    height: vw_size(18, $current);

    .action-button-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .action-button-text {
    font-size: vw_size(12, $current);
    margin-inline-start: vw_size(5, $current);
  }
}

@media (min-width: $media-tablet) {
  $current: $tablet;
  .action-button-wrapper {
    margin: vw_size(10, $current) 0;
    padding-inline: vw_size(10, $current);

    .action-button-image-wrapper {
      width: vw_size(18, $current);
      height: vw_size(18, $current);
    }

    .action-button-text {
      font-size: vw_size(12, $current);
      margin-inline-start: vw_size(5, $current);
    }
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .action-button-wrapper {
    margin: vw_size(10, $current) 0;
    padding-inline: vw_size(10, $current);

    .action-button-image-wrapper {
      width: vw_size(18, $current);
      height: vw_size(18, $current);
    }

    .action-button-text {
      font-size: vw_size(12, $current);
      margin-inline-start: vw_size(5, $current);
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .action-button-wrapper {
    margin: vw_size(10, $current) 0;
    padding-inline: vw_size(10, $current);

    .action-button-image-wrapper {
      width: vw_size(18, $current);
      height: vw_size(18, $current);
    }

    .action-button-text {
      font-size: vw_size(12, $current);
      margin-inline-start: vw_size(5, $current);
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;
  .action-button-wrapper {
    margin: vw_size(10, $current) 0;
    padding-inline: vw_size(10, $current);

    .action-button-image-wrapper {
      width: vw_size(18, $current);
      height: vw_size(18, $current);
    }

    .action-button-text {
      font-size: vw_size(12, $current);
      margin-inline-start: vw_size(5, $current);
    }
  }
}
