@import '/src/styles/imports.scss';

$current: $mobile;
.button-wrapper {
  padding: vw_size(5, $current) vw_size(10, $current);
  margin: vw_size(5, $current);
  border-radius: vw_size($border-radius, $current);
  font-size: vw_size(14, $current);
  background-color: $qualla-blue;
  color: $white;
  transition: 200ms;

  &:hover {
    background-color: $primary-hover;
  }


  &:disabled {
    cursor: not-allowed;
    background-color: $primary-disabled;
    color: #9a9a9a;
    margin-left: 0;
  }

}

@media (min-width: $media-tablet) {
  $current: $tablet;
  .button-wrapper {
    padding: vw_size(5, $current) vw_size(10, $current);
    margin: vw_size(5, $current);
    font-size: vw_size(14, $current);
    border-radius: vw_size($border-radius, $current);
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .button-wrapper {
    padding: vw_size(5, $current) vw_size(10, $current);
    margin: vw_size(5, $current);
    font-size: vw_size(14, $current);
    border-radius: vw_size($border-radius, $current);
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .button-wrapper {
    padding: vw_size(5, $current) vw_size(10, $current);
    margin: vw_size(5, $current);
    font-size: vw_size(14, $current);
    border-radius: vw_size($border-radius, $current);
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;
  .button-wrapper {
    padding: vw_size(5, $current) vw_size(10, $current);
    margin: vw_size(5, $current);
    font-size: vw_size(14, $current);
    border-radius: vw_size($border-radius, $current);
  }
}
