@import '/src/styles/imports.scss';

$current: $mobile;

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-title {
    font-size: vw_size(16, $current);
    font-family: $font-bold;
    text-align: center;
    color: $orange;
  }

  .custom-input {
    margin-top: vw_size(40, $current);
    width: vw_size(190, $current);
  }

  .submit-btn {
    &.mt {
      margin-top: vw_size(60, $current);
    }
  }
}


@media (min-width: $media-tablet) {
  $current: $tablet;
  .login-content {


    .login-title {
      font-size: vw_size(16, $current);
    }

    .custom-input {
      margin-top: vw_size(40, $current);
      width: vw_size(190, $current);
    }

    .submit-btn {
      &.mt {
        margin-top: vw_size(60, $current);
      }
    }
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .login-content {


    .login-title {
      font-size: vw_size(16, $current);
    }

    .custom-input {
      margin-top: vw_size(40, $current);
      width: vw_size(185, $current);
    }

    .submit-btn {
      &.mt {
        margin-top: vw_size(60, $current);
      }
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .login-content {

    .login-title {
      font-size: vw_size(16, $current);
    }

    .custom-input {
      margin-top: vw_size(40, $current);
      width: vw_size(190, $current);
    }

    .submit-btn {
      &.mt {
        margin-top: vw_size(60, $current);
      }
    }
  }
}
