@import 'src/styles/imports';

$current: $desktop;


.edit-img {
  width: vw_size(20, $current);
  margin-inline-end: vw_size(10, $current);
}

.fields-page-container {
  .table-wrapper {
    tbody {
      .table-row {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid $input-border;
          pointer-events: none;
        }

        &:last-child:after {
          border-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .edit-img {
    width: vw_size(20, $current);
    margin-inline-end: vw_size(10, $current);
  }

}

@media (min-width: $media-desktop_max) {
  $current: $desktop_max;
  .edit-img {
    width: vw_size(20, $current);
    margin-inline-end: vw_size(10, $current);
  }
}

