@import "styles/imports.scss";

@media (min-width: $media-desktop) {
  $current: $desktop;

  .users-permissions-wrapper {
    .leads-permission-wrapper {
      border-top: 1px solid rgba(0, 0, 0, 0.25);
      display: flex;
      padding-top: vw_size(12, $current);
      gap: vw_size(4, $current);

      .permissions-headline {
        margin: 0;
        font-size: vw_size(12, $current);
      }
    }
  }

  .permission-marketer-data {
    @include truncate-text(120);
    margin-block: vw_size(8, $current);
    font-size: vw_size(12, $current);
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;

  .users-permissions-wrapper {
    .leads-permission-wrapper {
      padding-top: vw_size(12, $current);
      gap: vw_size(34, $current);

      .permissions-headline {
        font-size: vw_size(14, $current);
      }
    }
  }

  .permission-marketer-data {
    margin-block: vw_size(6, $current);
    font-size: vw_size(14, $current);
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;

  .users-permissions-wrapper {
    .leads-permission-wrapper {
      padding-top: vw_size(12, $current);
      gap: vw_size(12, $current);

      .permissions-headline {
        font-size: vw_size(14, $current);
      }
    }
  }

  .permission-marketer-data {
    margin-block: vw_size(6, $current);
    font-size: vw_size(14, $current);
  }
}
