@import-normalize;
@import './imports';

:root {
  --toastify-color-success: #009944;
}

html {
  background: $background-color;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  background: $background-color;
}

input {
  border-width: 0 0 1px 0;
  border-color: 1px solid $input-border;
  font-family: inherit;

  &:disabled {
    color: $input-disabled-text-color;
  }
}

input:focus {
  border-color: inherit;
}

textarea {
  display: block;
  outline: none;
  resize: none;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 100%;
  font-family: inherit;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button:focus, button:hover, :focus {
  outline: none;
}

a, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* Fix webkit autofill background - Change the white to any color */
input:-webkit-autofill {
  box-shadow: 0 0 0 30px #ffffff inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}


@import './device-state';
@import './styles';
@import "./global-table-styles";
