@import './imports';

@font-face {
  font-family: 'Ploni Regular';
  src: url("../assets/fonts/ploni-regular.woff");
}

@font-face {
  font-family: 'Ploni Bold';
  src: url("../assets/fonts/ploni-bold.woff");
}

@font-face {
  font-family: 'Ploni Light';
  src: url("../assets/fonts/ploni-light.woff");
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Ploni Regular';
  color: $text-color;
  font-size: vw_size(16, $mobile);
}

input {
  font-size: inherit;
  font-family: $font;

  &::placeholder {
    color: inherit;
    opacity: inherit;
  }
}

h1 {
  font-size: vw_size(24, $mobile);
  @media (min-width: $media-tablet) {
    font-size: vw_size(28, $tablet);
  }
  @media (min-width: $media-desktop) {
    font-size: vw_size(28, $desktop);
  }
  @media (min-width: $media-desktop-large) {
    font-size: vw_size(28, $desktop_large);
  }
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

@media (min-width: $media-tablet) {
  h1 {
    font-size: vw_size(28, $tablet);
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }

  body {
    font-size: vw_size(16, $tablet);
  }
  input {
    &::placeholder {
      font-size: vw_size(16, $tablet);
    }
  }
}

@media (min-width: $media-desktop) {
  h1 {
    font-size: vw_size(28, $desktop);
    @media (min-width: $media-desktop-large) {
      font-size: vw_size(28, $desktop_large);
    }
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }

  body {
    font-size: vw_size(16, $desktop);
  }
  input {
    &::placeholder {
      font-size: vw_size(16, $desktop);
    }
  }
}

@media (min-width: $media-desktop-large) {
  h1 {
    font-size: vw_size(28, $desktop_large);
  }
  h2 {
  }
  h3 {
  }
  h4 {
  }
  h5 {
  }
  h6 {
  }

  body {
    font-size: vw_size(16, $desktop-max);
  }
  input {
    &::placeholder {
      font-size: vw_size(16, $desktop-max);
    }
  }
}
