@import '/src/styles/imports';

$current: $mobile;
.client-general-wrapper {

}

@media (min-width: $media-tablet) {
  $current: $tablet;
  .client-general-wrapper {

  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .client-general-wrapper {

  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .client-general-wrapper {

  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;
  .client-general-wrapper {

  }
}
