@import "/src/styles/imports.scss";

@media (min-width: $media-desktop) {
  $current: $desktop;
  .texts-page-wrapper {
    .top-area {
      @include main-wrapper-gap;
      align-items: flex-start;

      .instructions {
        font-size: vw_size(14, $current);
      }

      .buttons-container {
        @include filter-comps-gap;
        display: flex;

        .add-namespace-btn,
        .sync-translations-btn {
          height: vw_size(30, $current);
          margin: 0;
        }
      }
    }

    .filters-wrapper {
      @include filter-margin;
      display: flex;
      flex-wrap: wrap;
      max-height: vw_size(0, $current);
      transition: 300ms ease-in-out;

      &.has-items {
        max-height: vw_size(100, $current);
      }

      .filters-all {
        @include filter-remove-all;
      }
    }

    .namespaces-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: vw_size(20, $current);

      .namespace-tag {
        margin-inline-end: 0;

        &:not(:first-of-type) {
          margin-inline-start: vw_size(8, $current);
        }

        &.selected {
          color: $white;
          background-color: $qualla-blue;
        }
      }
    }

    .table-wrapper {
      .table-row.input {
        align-items: flex-start;
      }

      .texts-value,
      .texts-input {
        border-radius: vw_size($border-radius, $current);
        border: 1px solid $input-border;
      }

      .namespace-select-wrapper {
        .dropdown-input {
          height: vw_size(45, $current);
        }
      }

      .texts-input {
        font-family: $font;
        padding: vw_size(10, $current) vw_size(15, $current);
        width: 90%;
        text-align: left;
        direction: ltr;
      }

      .text-table-name {
        @include truncate-text(200);
      }

      .texts-value {
        resize: vertical;
        margin-inline: auto;
        padding: vw_size(5, $current) vw_size(10, $current);
        min-height: vw_size(55, $current);
        max-height: vw_size(200, $current);
        width: 90%;
        font-family: $font;
        @include textarea-disabled;

        &:disabled {
          resize: none;
        }
      }

      td.table-cell {
        height: vw_size(80, $current);

        &.no-result {
          height: auto;
        }
      }
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .texts-page-wrapper {
    .top-area {
      gap: vw_size(16, $current);

      .instructions {
        font-size: vw_size(14, $current);
      }

      .buttons-container {
        .add-namespace-btn,
        .sync-translations-btn {
          height: vw_size(30, $current);
        }
      }
    }

    .filters-wrapper {
      max-height: vw_size(0, $current);

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .namespaces-wrapper {
      margin-bottom: vw_size(20, $current);

      .namespace-tag {
        &:not(:first-of-type) {
          margin-inline-start: vw_size(12, $current);
        }
      }
    }

    .table-wrapper {
      .texts-value,
      .texts-input {
        border-radius: vw_size($border-radius, $current);
      }

      .namespace-select-wrapper {
        .dropdown-input {
          height: vw_size(45, $current);
        }
      }

      .texts-input {
        padding: vw_size(10, $current) vw_size(15, $current);
      }

      .texts-value {
        padding: vw_size(5, $current) vw_size(10, $current);
        min-height: vw_size(55, $current);
        max-height: vw_size(200, $current);
      }

      td.table-cell {
        height: vw_size(80, $current);
      }
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;
  .texts-page-wrapper {
    .top-area {
      gap: vw_size(16, $current);

      .instructions {
        font-size: vw_size(14, $current);
      }

      .buttons-container {
        .add-namespace-btn,
        .sync-translations-btn {
          height: vw_size(30, $current);
        }
      }
    }

    .filters-wrapper {
      max-height: vw_size(0, $current);

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .namespaces-wrapper {
      margin-bottom: vw_size(20, $current);

      .namespace-tag {
        &:not(:first-of-type) {
          margin-inline-start: vw_size(12, $current);
        }
      }
    }

    .table-wrapper {
      .texts-value,
      .texts-input {
        border-radius: vw_size($border-radius, $current);
      }

      .namespace-select-wrapper {
        .dropdown-input {
          height: vw_size(45, $current);
        }
      }

      .texts-input {
        border-radius: vw_size($border-radius, $current);
        padding: vw_size(10, $current) vw_size(15, $current);
      }

      .texts-value {
        padding: vw_size(5, $current) vw_size(10, $current);
        min-height: vw_size(55, $current);
        max-height: vw_size(200, $current);
      }

      td.table-cell {
        height: vw_size(80, $current);
      }
    }
  }
}
