@import "/src/styles/imports.scss";

@media (min-width: $media-desktop) {
  $current: $desktop;

  .errors-page-wrapper {
    @include main-wrapper-gap;

    .top-area {
      @include filter-comps-gap;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      justify-content: flex-start;
    }

    .filters-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-height: vw_size(0, $current);
      transition: 300ms ease-in-out;

      &.has-items {
        max-height: vw_size(100, $current);
      }

      .filters-all {
        background-color: $qualla-blue;
        color: $white;
        font-family: $font-bold;

        svg {
          fill: $white;
        }
      }
    }

    .table-wrapper {
      .errors-input,
      .errors-value {
        border-radius: vw_size($border-radius, $current);
        border: 1px solid $input-border;
      }

      .errors-input {
        width: 90%;
        font-family: $font;
        padding: vw_size(10, $current) vw_size(15, $current);
        text-align: left;
        direction: ltr;
      }

      .error-table-key {
        @include truncate-text(200);
      }

      .errors-value {
        resize: vertical;
        margin-inline: auto;
        padding: vw_size(5, $current) vw_size(10, $current);
        min-height: vw_size(55, $current);
        max-height: vw_size(100, $current);
        width: 90%;
        font-family: $font;
        @include textarea-disabled;

        &:disabled {
          resize: none;
        }
      }

      td.table-cell {
        height: vw_size(80, $current);

        &.no-result {
          height: auto;
        }
      }
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;

  .errors-page-wrapper {
    @include main-wrapper-gap;

    .filters-wrapper {
      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      .errors-input,
      .errors-value {
        border-radius: vw_size($border-radius, $current);
      }

      .errors-input {
        padding: vw_size(10, $current) vw_size(15, $current);
      }

      .errors-value {
        padding: vw_size(5, $current) vw_size(10, $current);
        min-height: vw_size(55, $current);
        max-height: vw_size(100, $current);
      }

      td.table-cell {
        height: vw_size(80, $current);
      }
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;

  .errors-page-wrapper {
    @include main-wrapper-gap;

    .filters-wrapper {
      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      .errors-input,
      .errors-value {
        border-radius: vw_size($border-radius, $current);
      }

      .errors-input {
        padding: vw_size(10, $current) vw_size(15, $current);
      }

      .errors-value {
        padding: vw_size(5, $current) vw_size(10, $current);
        min-height: vw_size(55, $current);
        max-height: vw_size(100, $current);
      }

      td.table-cell {
        height: vw_size(80, $current);
      }
    }
  }
}
