@import "/src/styles/imports.scss";

@media (min-width: $media-desktop) {
  $current: $desktop;

  .media-page-wrapper {
    .top-area {
      @include main-wrapper-gap;
      align-items: flex-start;

      .buttons-container {
        @include filter-comps-gap;
        display: flex;
      }
    }

    .filters-wrapper {
      @include filter-margin;
      display: flex;
      flex-wrap: wrap;
      max-height: vw_size(0, $current);
      transition: 300ms ease-in-out;

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      width: 100%;

      .table-row.input {
        align-items: flex-start;
      }

      .media-input,
      .media-file-input {
        border-radius: vw_size($border-radius, $current);
        border: 1px solid $input-border;
        font-family: $font;
        padding: vw_size(10, $current) vw_size(15, $current);
        width: 90%;
        text-align: left;
        direction: ltr;
        justify-self: center;
        display: flex;
      }

      .dimensions-input-wrapper {
        display: flex;
        align-items: center;

        .dimension {
          width: 70px;
          text-align: center;
        }

        span {
          margin: 0 vw_size(5, $current);
        }
      }

      td.table-cell {
        height: vw_size(80, $current);

        &.no-result {
          height: auto;
        }
      }
    }

    .media-preview-wrapper {
      width: 175px;
      height: 175px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .media-preview-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;

  .media-page-wrapper {
    .top-area {
      gap: vw_size(16, $current);
    }

    .filters-wrapper {
      max-height: vw_size(0, $current);

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      .media-input,
      .media-file-input {
        border-radius: vw_size($border-radius, $current);
        padding: vw_size(10, $current) vw_size(15, $current);
      }

      .dimensions-input-wrapper {
        .dimension {
          width: 70px;
        }
      }

      td.table-cell {
        height: vw_size(80, $current);
      }
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;

  .media-page-wrapper {
    .top-area {
      gap: vw_size(16, $current);
    }

    .filters-wrapper {
      max-height: vw_size(0, $current);

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      .media-input,
      .media-file-input {
        border-radius: vw_size($border-radius, $current);
        padding: vw_size(10, $current) vw_size(15, $current);
      }

      .dimensions-input-wrapper {
        .dimension {
          width: 100%;
        }
      }

      td.table-cell {
        height: vw_size(80, $current);
      }
    }
  }
}
