@import "src/styles/imports";

$current: $mobile;
.popup {
  .backdrop.slidePopup {
    align-items: flex-end;

    .popup_wrapper {
      border-top-right-radius: vw_size(25, $current);
      border-top-left-radius: vw_size(25, $current);
      width: 100%;
      top: 100%;
      background-color: white;
      transition: top 350ms cubic-bezier(0.165, 0.84, 0.44, 1); /* easeInOutExpo */
      position: relative;

      .close-icon-wrapper {
        cursor: pointer;
        position: absolute;
        z-index: 10000;
        top: vw_size(15, $current);
        left: vw_size(10, $current);
        width: vw_size(18, $current);
        height: vw_size(18, $current);
      }

      .gesture-handler {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: vw_size(30, $current);
      }

      &.active,
      &.done {
        top: 0;
      }

      &.exit {
        top: 100%;
      }
    }
  }
}

@media (min-width: $media-tablet) {
  $current: $tablet;
  .popup {
    .backdrop {
      .popup_wrapper {
        .close-icon-wrapper {
          top: vw_size(5, $current);
          left: vw_size(10, $current);
          width: vw_size(18, $current);
          height: vw_size(18, $current);
        }

        .popup_content {
          overflow-y: hidden;
          border-radius: inherit;
          padding-bottom: vw_size(14, $current);
        }
      }
    }

    .backdrop.slidePopup {
      align-items: center;

      .popup_wrapper {
        width: unset;
        border-radius: vw_size(10, $current);
      }
    }
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .popup {
    .backdrop.slidePopup {
      .popup_wrapper {
        border-radius: vw_size(10, $current);

        .close-icon-wrapper {
          top: vw_size(5, $current);
          left: vw_size(10, $current);
          width: vw_size(18, $current);
          height: vw_size(18, $current);
        }

        .popup_content {
          padding-bottom: vw_size(14, $current);
        }

        .gesture-handler {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $media-desktop-large) {
  $current: $desktop-large;

  .popup {
    .backdrop.slidePopup {
      .popup_wrapper {
        border-radius: vw_size(10, $current);

        .close-icon-wrapper {
          top: vw_size(5, $current);
          left: vw_size(10, $current);
          width: vw_size(18, $current);
          height: vw_size(18, $current);
        }

        .popup_content {
          padding-bottom: vw_size(14, $current);
        }
      }
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;

  .popup {
    .backdrop.slidePopup {
      .popup_wrapper {
        border-radius: vw_size(10, $current);

        .close-icon-wrapper {
          top: vw_size(5, $current);
          left: vw_size(10, $current);
          width: vw_size(18, $current);
          height: vw_size(18, $current);
        }

        .popup_content {
          padding-bottom: vw_size(14, $current);
        }
      }
    }
  }
}
