@import "/src/styles/imports.scss";

@media (min-width: $media-desktop) {
  $current: $desktop;
  $width: 140;
  $height: 30;

  .users-page-wrapper {
    @include main-wrapper-gap;

    .top-area {
      @include filter-comps-gap;
      margin: 0;
      justify-content: flex-start;

      .users-add-user-button {
        @include filter-comps-radius;
        margin: 0;
        width: vw_size($width, $current);
        height: vw_size($height, $current);
        font-size: vw_size(16, $current);
        display: flex;
        align-items: center;

        .add-user-button-icon-wrapper {
          margin-inline-start: vw_size(5, $current);
          width: vw_size(16, $current);
          height: vw_size(16, $current);

          .add-user-icon {
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: $white;
          }
        }
      }

      .drop {
        width: vw_size($width, $current);

        .status {
          width: vw_size($width, $current);
          height: vw_size($height, $current);

          input {
            @include filter-comps-radius;
            height: 100%;

            &::placeholder {
              @include filter-dropdown-style;
            }
          }
        }
      }

      .dropdown-filter {
        width: vw_size($width, $current);
        height: vw_size($height, $current);
      }

      .dropdown-input-wrapper {
        height: 100%;

        input {
          @include filter-font-size;
          height: 100%;
        }
      }
    }

    .filters-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-height: vw_size(0, $current);
      max-width: vw_size(1080, $current);
      align-items: center;
      transition: 300ms ease-in-out;

      &.has-items {
        max-height: vw_size(100, $current);
      }

      .filters-all {
        @include filter-remove-all;
      }
    }

    .action-button-wrapper {
      padding: 0;
    }

    .table-wrapper {
      max-width: 100%;

      td.table-cell {
        padding: 0 vw_size(18, $current);

        .user-marketers-wrapper {
          @include hide-scrollbar;
          max-height: vw_size(160, $current);
          overflow: auto;
        }

        &.no-result {
          padding: vw_size(20, $current) 0;
        }

        &.text-center {
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  $width: 145;
  $height: 30;

  .users-page-wrapper {
    .top-area {
      .users-add-user-button {
        font-size: vw_size(16, $current);
        width: vw_size($width, $current);
        height: vw_size($height, $current);

        .add-user-button-icon-wrapper {
          margin-inline-start: vw_size(5, $current);
          width: vw_size(16, $current);
          height: vw_size(16, $current);
        }
      }

      .drop {
        width: vw_size($width, $current);

        .status {
          width: vw_size($width, $current);
          height: vw_size($height, $current);
        }
      }

      .dropdown-filter {
        width: vw_size(150, $current);
        height: vw_size(38, $current);
      }
    }

    .filters-wrapper {
      max-width: vw_size(1080, $current);

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      td.table-cell {
        padding: 0 vw_size(18, $current);

        .user-marketers-wrapper {
          max-height: vw_size(120, $current);
        }

        &.no-result {
          padding: vw_size(20, $current) 0;
        }
      }
    }
  }
}

@media (min-width: $media-desktop-max) {
  $current: $desktop-max;
  $width: 145;
  $height: 30;

  .users-page-wrapper {
    .top-area {
      .users-add-user-button {
        font-size: vw_size(16, $current);
        width: vw_size($width, $current);
        height: vw_size($height, $current);

        .add-user-button-icon-wrapper {
          margin-inline-start: vw_size(5, $current);
          width: vw_size(16, $current);
          height: vw_size(16, $current);
        }
      }

      .drop {
        width: vw_size($width, $current);

        .status {
          width: vw_size($width, $current);
          height: vw_size($height, $current);
        }
      }

      .dropdown-filter {
        width: vw_size(150, $current);
        height: vw_size(38, $current);
      }
    }

    .filters-wrapper {
      max-width: vw_size(1080, $current);

      &.has-items {
        max-height: vw_size(100, $current);
      }
    }

    .table-wrapper {
      max-width: 75%;

      td.table-cell {
        padding: 0 vw_size(18, $current);

        .user-marketers-wrapper {
          max-height: vw_size(120, $current);
        }

        &.no-result {
          padding: vw_size(20, $current) 0;
        }
      }
    }
  }
}
