@import '../../styles/imports';

$current: $mobile;

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .dashboard-data-text {
    font-family: $font-bold;
    font-size: vw_size(18, $current);
    line-height: 2;
    margin: 0;
    text-align: center;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: vw_size(10, $current);
  }
}

@media (min-width: $media-tablet) {
  $current: $tablet;
  .dashboard-content {
    .dashboard-data-text {
      font-size: vw_size(18, $current);
    }

    .cards-container {
      justify-content: flex-start;
      padding: vw_size(10, $current);
    }
  }
}

@media (min-width: $media-desktop) {
  $current: $desktop;
  .dashboard-content {
    .dashboard-data-text {
      font-size: vw_size(26, $current);
    }

    .cards-container {

      padding: 0;
    }
  }
}

@media (min-width: $media-desktop_large) {
  $current: $desktop_large;
  .dashboard-content {
    .dashboard-data-text {
      font-size: vw_size(26, $current);
    }

    .cards-container {
    }
  }
}
